[user]
	name = takeru.watahiki
	email = tkr.wthk@gmail.com

[core]
	editor = vim
	autocrlf = input
	filemode = false

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	graph = log --graph --oneline --decorate --all
	l = log --oneline --graph --decorate

[push]
	default = simple

[pull]
	rebase = false

[init]
	defaultBranch = main
